/* flex things */
.flex-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 25px;
    width: 900px;
    margin-top: 0px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.triple-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}
.second-trading-column {
    width: 88%;
}
#go-fishing-button-div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 12px;
    margin-top: 10px;
}