/* flex things */
.flex-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: auto;
    margin-left: 0px;
    gap: 25px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2 0 0;
}
.left-margin {
    margin-left: 6px;
}
.plus-minus {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 1px;
}
.button-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 0 0;
}
.fish-count {
    color: white;
    font-size: 14px;
    font-family: "roboto slab";
    align-self: center;
}