/*import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Nationwide changes */
body {
    background-color: rgb(117, 181, 255);
}
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
    margin-left: 6px;
}
h2 {
    color: white;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
}
p {
    color: white;
    font-size: 14px;
    font-family: "roboto slab";
}
div {
    border: 0px solid black;
}
button {
    align-self: center;
    margin-left: 2px;
}
.plus-minus {
    width: 20px;
    height: 20px;
    padding: 0px;
}
.border-div {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.dashed-div {
    border: 2px dashed black;
    padding: 5px;
    margin: 5px;
}
.need-gap {
    gap: 25px;
}
.right-aligned {
    text-align: right;
    margin-right: 10px;
}
.nav-bar {
    display: block;
    text-align: right;
    width: 200px;
}
.body-container {
    display: flex;
}
.nav-button {
    border: 2px solid #006aff;
    display: block;
    width: 130px;
    float: right;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "roboto slab";
    background-color: #aecdff;
    margin: 3px;
    text-decoration: none;
    color: #14458a;
}
.nav-button:hover {
    background-color: #d1e3ff;
}
.nav-info {
    border: 2px solid #d1e3ff;
    display: block;
    width: 130px;
    float: right;
    padding: 5px;
    font-size: 14px;
    font-family: "roboto slab";
    color: white;
    margin: 3px;
    background-color: #14458a;
}