/*import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Nationwide changes */
body {
    background-color: rgb(117, 181, 255);
}
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
    margin-left: 6px;
}
h2 {
    color: white;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
}
p {
    color: white;
    font-size: 14px;
    font-family: "roboto slab";
}
div {
    border: 0px solid black;
}
button {
    align-self: center;
    margin-left: 2px;
}
.border-div {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.dashed-div {
    border: 2px dashed black;
    padding: 5px;
    margin: 5px;
}
.need-gap {
    gap: 25px;
}
.right-aligned {
    text-align: right;
    margin-right: 10px;
}
#nav-bar {
    display: block;
    text-align: right;
    width: 200px;
}
.body-container {
    display: flex;
    margin: auto;
}
.nav-button {
    text-decoration: none;
    color: #14458a;
    border: 2px solid #006aff;
    display: block;
    width: 130px;
    float: right;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "roboto slab";
    background-color: #aecdff;
    margin: 3px;
}
.nav-button:visited {
    text-decoration: none;
    color: #14458a;
}
.nav-button:hover {
    background-color: #d1e3ff;
}
#shared-info {
    display: block;
    text-align: left;
    width: 200px;
}
.shared-info-div {
    color: white;
    border: 2px solid #d1e3ff;
    display: block;
    width: 175px;
    float: right;
    padding: 5px;
    font-size: 14px;
    font-family: "roboto slab";
    background-color: #0b52b5;
    margin: 3px;
}

/*** see if this works ***/

[data-tooltip] {
    display: inline-block;
    position: relative;
    padding: 4px;
    border-bottom: 1px dotted white;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip) '\a' attr(data-tooltip-2);
    white-space: pre;
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 150px;
    text-align: left;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}