/*import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Nationwide changes */
body {
    background-color: rgb(117, 181, 255);
}
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
}
h2 {
    color: white;
    font-size: 16px;
    font-family: "roboto slab";
    font-weight: normal;
}
p {
    color: white;
    font-size: 14px;
    font-family: "roboto slab";
}
div {
    border: 0px solid black;
}
button {
    align-self: center;
}
.plus-minus {
    width: 20px;
    height: 20px;
    padding: 0px;
}
.border-div {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.dashed-div {
    border: 2px dashed black;
    padding: 5px;
    margin: 5px;
}
.need-gap {
    gap: 25px;
}
.right-aligned {
    text-align: right;
}

/* flex things */
#flex-container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin: auto;
    gap: 25px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.triple-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}
.quadruple-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 4;
}
.double-row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 2;
}

/* fish-related */
#goldfish-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}