/* Nationwide changes */
body {
    background-color: rgb(117, 181, 255);
}
p {
    color: white;
}
div {
    border: 1px solid black;
}
button {
    align-self: center;
}

/* flex things */
#flex-container {
    display: flex;
    flex-direction: row;
    
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
}

/* fish-related */
#goldfish-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.funFish {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 30%;
}

/* equipment-related */
.equipment {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

/* habitat-related */
.habitat {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
}
#habitatCount {
    text-align: right;
}